@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

/*
Contributors:       Jeremy Goold
Purpose:            Holds the style for the homepage
                    and its components
*/




.homepage {
  height: 2000px;
  margin-left: 10%;
  width: 80%;
}

.focus{
  text-align: center;
  position: relative;
  height: 1000px;
  margin-top: 300px;
  width: 80%;
  margin-left: 10%;
}

.parallelogram {
  /*POSITION*/
  position: absolute;
  margin-top: 200px;
  margin-left: 20%;
  height: 200px;
  width: 60%;

  background: #FFE2A6 0% 0% no-repeat padding-box;
  box-shadow: -9px 9px 6px #00000029;
  opacity: 1;
  /*ROTATION*/
  transform: rotate(-10deg)  skewX(-20deg) ;

  /*COLOR*/
  background: rgb(245,200,100);
}
.shapetext{
  position: absolute;
  text-align: center;
  transform: rotate(10deg) skewX(20deg);
  color: #FFE2A6 ;
}


h1{
  
  position: absolute;
  color: black;
  font-family: sans-serif;

  margin-top: 175px;
  margin-left: 12.5%;
  width: 75%;
  font-family: Bebas Neue;
  font-size: 60px;
  letter-spacing: 0;
  color: #000000;
  text-shadow: 0px 3px 6px #00000029;



}