body{
    height: 1000px;
    background-size: cover;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    /*background-color: #333;*/
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0rem 0rem 20rem rgba(0, 0, 0, .7);

}

.nav-brand{
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 3rem;
  padding-top: 30px;
  display: block;
  font-weight:  bold;

}

.nav-link
{
  display: block;
}